/* 
    Created on : Mar 25, 2018, 1:01:31 PM
    Author     : Dragana Poznan
    font-family: 'Open Sans', sans-serif;
*/
a:hover{
    text-decoration: none;
}
body{
    font-size: 14px;
    overflow-x: hidden;
    color: #65676d;
}
i,h6{
    color: #000;
}
h6{
    font-size: 16px;
}
option,p,li,li a,a,label{
    font-size: 16px;
}
.banner{
    background-color: #2e2828;
    text-align: center;
}
.project-category img,
.banner img{
    margin-top: 12%;
}
.project-investment img{
    margin: 6% auto;
    display: block;
}
.project-investment,
.project-category{
    text-align: center;
}
.back-to-home{
    float: left;
    width: 100%;
}
.back-to-home a{
    padding: 4px 30px;
    color: grey;
    border: 1px solid green;
    border-radius: 4px;
}
/* modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* form example */
.formBox{
    padding: 50px;
}
.registracija h1{
    text-align: center;
}
.formBox  h1{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 70px;
    text-transform: uppercase;
    font-size: 48px;
}
.inputBox{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.inputBox .inputText{
    position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
    margin-top: -18px;
}
.inputBox .input{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
.focus .inputText{
    transform: translateY(-30px);
    font-size: 18px;
    opacity: 1;
    color: #00bcd4;
}
textarea{
    height: 100px !important;
}
.button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #03A9F4;
    color: #fff;
}
/* forms */
.inputBox .inputText{
    line-height: 1.6;
    font-size: 20px;
}
.upload-img .btn.btn-primary.btn-sm.float-left{
    font-size: 16px;
    width: 100%;
}
/* javni poziv */
.javni-poziv{
    padding-top: 60px;
}
.javni-poziv select label,
.javni-poziv select option{
    font-size: 14px;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(4.25rem + 2px);
    font-size: 16px;
}
/* Dashboard */
.sidebar ul{
    width: 100%;
}
a.save-to-pdf{
    float: right;
    font-size: 16px;
}
/* Nav **/
.navbar-nav.ml-auto{
    float: right;
}
/* Final css */
/*font-family: 'Noto Serif', serif;*/
#navbarSupportedContent ul li a{
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    font-weight: 700;
}
.navbar-brand>img{
    width: 60px;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #5b0c0c;
}
/* header */
.navbar.navbar-expand-md.navbar-light.navbar-laravel{
    border-bottom: 1px solid #adb0b5;
    padding-bottom: 20px;
}
.container .jumbotron.text-center{
    padding: 0;
}
.owl-prev:before, .owl-next:before{
    color: transparent;
}
.jumbotron{
    background-color: transparent;
}
/* footer */
footer{
    float: left;
    width: 100%;
    margin-top: 60px;
    border-top: 1px solid #1f80bb;
}
.footer-copyright.text-center.py-3{
    float: left;
    width: 100%;
    border-top: 1px solid #1f80bb;
}
/* project */
.project-investment .col-md-4{
    float: left;
}
.project-investment .col-md-4 .cat-name{
    font-size: 20px;
    font-weight: 400;
    color: red;
    text-align: center;
    margin-bottom: 40px;
}
/* available projects */
.available-projects{
    padding-top: 40px;
}
.available-projects h1{
    margin-bottom: 70px;
}
.available-projects ul{
    list-style-type: decimal;
}
.available-projects li{
    font-size: 20px;
    float: left;
    width: 100%;
    text-align: left;
    font-style: italic;
}
.available-projects li a{
    font-size: 20px;
}
.available-projects a{
    font-size: 26px;
    text-transform: capitalize;
}
.available-projects li a,
.available-projects li small,
.available-projects li hr{
    float: left;
    width: 100%;
}
.available-projects h2{
    margin-bottom: 40px;
}
/* Show upit */
.show-upit h2{
    margin-bottom: 60px;
}
/* oblasti */
.choosen-cat{
    font-size: 30px;
    font-weight: 400;
    color: red;
    text-align: center;
    margin-bottom: 40px;
}
.oblasti{
    padding: 0;
}
.one-oblast{
    margin-bottom: 10px;
}
.oblasti-strana .col-md-4{
    float: left;
}
.oblasti-strana .col-md-4 h3{
    margin-bottom: 40px;
    font-size: 26px;
    float: right;
    color: red;
    font-style: italic;
    font-weight: 300;
}
.proba-mape-2{
    position: absolute;
    top: 330px;
    left: 45%;
    width: 300px;
    height: 300px;
}
.proba-mape-1{
    position: relative;
    float: left;
    width: 100%;
    top: 500px;
}
/* projects map */
.proba-mape-4{
    position: absolute;
    top: 330px;
    left: 45%;
    width: 300px;
    height: 300px;
}
.projects-map{
    margin-bottom: 40px;
}
.proba-mape-3{
    position: relative;
    float: left;
    width: 100%;
    top: 300px;
}
.other-categories{
    float: left;
    display: inline-flex;
    width: 100%;
}
.other-categories h4{
    font-size: 16px;
}
.other-categories p{
    width: 100%;
    text-align: right;
    float: right;
    height: 50px;
    color: red;
}
.other-categories img{
    width: 150px;
    height: 190px;
}
.other-categories li{
    list-style: none;
    margin-top: 40px;
    margin-left: 20px;
}
.categories-list h4{
    text-transform: uppercase;
    text-align: center;
}
.mapa-zrenjanin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* opacity: 0.7; */
}
.mapa-zrenjanin-projects{
    position: relative;
    top: 50%;
    left: 50%;
    margin-bottom: 40px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* opacity: 0.7; */
}
.maps-zrenjanin a img{
    width: 90%;
    margin: 30px;
}
.invest-heading{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}
.oblasti{
    font-weight: 600;
    font-style: italic;
    float: left;
}
.investicioni-projekti{
    float: right;
    font-weight: 600;
    font-style: italic;
    text-align: right;
    padding-left: 0;
}
li.investicioni{
    margin-bottom: 20px;
}
.dashboard-table td a{
    font-size: 14px;
}
.dashboard-table select.form-control:not([size]):not([multiple]){
    height: calc(3rem + 2px);
    font-size: 14px;
}
/* Geo uri */
.geouri-share{
    width: 90%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* izmena projekta */
.izmena-projekta form textarea{
    font-size: 16px;
    text-align: left;
}
.modal-map{
    margin-top: 20px;
}
/* categories */
h2.cat-heading{
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
    color: red;
}
/* scale values projects */
.scale-values-cat .other-categories img{
    width: 100px;
    height: 100px;
}
.scale-values-cat .other-categories li{
    width: 100px;
}
/* project list */
.skale-vrednosti h2{
    margin-bottom: 40px;
    font-size: 26px;
}
/* single project */
.single{
    margin-top: 40px;
    float: left;
    width: 100%;
}
.single img{
    width: 100%;
    float: left;
}
.single h2{
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.single .col-md-4:nth-child(2) h2{
    text-align: center;
}
.single h3{
    font-size: 20px;
    margin: 20px 0;
    font-weight: 900;
}
.single ul{
    list-style: none;
}
.single ul li span{
    color: blue;
}
.single ul li.contact-data span,
.single ul li.contact-data{
    color: red;
}
.single ul li.vrednost-projekta span,
.single ul li.vrednost-projekta{
    color: green;
    margin: 20px 0;
}
.col-md-12.single-project{
    float: left;
    width: 100%;
    margin-top: 60px;
}
.col-md-12.single-project .other-categories img{
    width: 150px;
    height: 150px;
}
.col-md-12.single-project.scale-values-cat .other-categories img{
    width: 100px;
    height: 100px;
}
.single .col-md-4 ul li{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
}
.single .col-md-4 ul li span{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
}
