.modal-content p img{
    width: 100%;
}
@media screen and (max-width: 1300px) {
    .editovanje .inputBox .input{
        font-size: 16px;
    }
    .editovanje .inputBox{
        margin-bottom: 60px;
    }
    .editovanje .inputBox .inputText{
        font-size: 16px;
    }
}
@media screen and (max-width: 1200px) {
    .maps-zrenjanin h4{
        font-size: 16px;
    }
    .single .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;
        float: left;
        width: 100%;
    }
    .dashboard-report-menu,
    .dashboard-report-table{
        flex: 0 0 100%;
        max-width: 100%;
        float: left;
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .register{
        float: left;
        width: 100%;
        max-width: 100%;
    }
    .project-form .inputBox{
        margin: 50px 0;
    }
    .project-form .inputBox .inputText{
        margin-top: -60px;
        font-size: 16px;
    }
    .oblasti-strana .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;
        float: left;
        width: 100%;
    }
    .oblasti-strana .col-md-4 h3{
        float: left;
    }
    .investicioni-projekti{
        float: left;
        font-weight: 600;
        font-style: italic;
        text-align: left;
    }
    .oblasti-strana .col-md-4 h3{
        width: 100%;
    }
    .mapa-zrenjanin{
        bottom: 0%;
        left: 70%;
        top: auto;
    }
    .other-categories.business-area-page p{
        display: none;
    }
    .other-categories.business-area-page li{
        margin-left: 0;
    }
    .other-categories.business-area-page{
        padding-left: 0;
    }
    .container.modal-layout{
        max-width: 100%;
    }
    .other-categories.business-area-page{
        display: block;
    }
    .scale-values-cat .other-categories li.selected-business-area{
        width: 100%;
    }
    .col-md-4.selected-business-area{
        float: left;
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .other-categories.business-area-page.single{
        display: inline-flex;
    }
    .other-categories.business-area-page.single li{
        margin-left: 15%;
    }
    .oblasti.projects-by-selected-value{
        float: none;
    }
}
@media screen and (max-width: 900px) {
    .oblasti-strana .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;
        float: left;
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .delete-padding{
        padding: 0px;
    }
    p.napomena{
        margin-bottom: 80px;
    }
    li.maps-zrenjanin{
        width: 50%!important;
    }
    .show-upit .container{
        max-width: 100%;
    }
    .proba-mape-1.PROBA{
        display: none;
    }
    .other-categories.business-area-page{
        display: block;
    }
}
@media screen and (max-width: 700px) {
    .delete-padding form .row .col-sm-6{
        flex: 100%;
        max-width: 100%;
        float: left;
        width: 100%;
    }
    li.maps-zrenjanin{
        width: 100%!important;
    }
    .btn.btn-primary.btn-sm.float-left{
        margin-bottom: 40px;
    }
    .other-categories.business-area-page.single{
        display: block;
    }
    .other-categories.business-area-page.single li{
        width: 100%;
        float: left;
    }
    .other-categories.business-area-page.single h4{
        margin-right: 10%;
    }
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 30px!important;
    }
    .navbar-nav.ml-auto {
        float: right;
        text-align: center;
        padding-right: 20px;
    }
    .project-heading{
        margin-bottom: 40px;
    }
    .show-upit .container .formBox .col-sm-12,
    .show-upit .container .formBox{
        padding: 0px;
    }
    .approve-project p,
    .approve-project a{
        font-size: 14px;
    }
}
@media screen and (max-width: 500px) {
    .project-form .inputBox .inputText{
        margin-top: -90px;
    }
    .project-form .inputBox{
        margin: 70px 0;
    }
    .show-upit .inputBox .inputText{
        font-size: 14px;
        margin-top: -80px;
    }
    .show-upit .inputBox{
        font-size: 14px;
        margin-bottom: 90px;
    }
    .show-upit .container .formBox h2{
        margin-bottom: 100px;
    }
    .approve-project p,
    .approve-project a{
        font-size: 12px;
    }
}

