/* 
    Created on : Mar 25, 2018, 1:01:31 PM
    Author     : Dragana Poznan
font-family: 'Open Sans', sans-serif;
*/
body{
    font-size: 14px;
}
.nav-link{
    color: red !important;
}
.banner{
    background-color: #2e2828;
    text-align: center;
}
.project-category img,
.banner img{
    margin-top: 12%;
}
.project-investment img{
    margin: 6% auto;
    display: block;
}
.project-investment,
.project-category{
    text-align: center;
    padding: 40px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* form example */
.formBox{
    margin-top: 90px;
    padding: 50px;
}
.formBox  h1{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 48px;
}
.inputBox{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.inputBox .inputText{
    position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}
.inputBox .input{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
.focus .inputText{
    transform: translateY(-30px);
    font-size: 18px;
    opacity: 1;
    color: #00bcd4;

}
textarea{
    height: 100px !important;
}
.button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #03A9F4;
    color: #fff;
}
/* forms */
.inputBox .inputText{
    line-height: 1.6;
    font-size: 20px;
}
/* javni poziv */
.javni-poziv{
    padding-top: 60px;
}
.javni-poziv select label,
.javni-poziv select option{
    font-size: 14px;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(4.25rem + 2px);
    font-size: 16px;
}
/* admin report */



